[submodule "/Users/binary/dotfiles/binaryvim/.config/binaryvim"]
	path = /Users/binary/dotfiles/binaryvim/.config/binaryvim
	url = https://github.com/Binary-Blade/binaryvim.git
[submodule "binaryvim/.config/binaryvim"]
	path = binaryvim/.config/binaryvim
	url = https://github.com/Binary-Blade/binaryvim.git
